@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #225cfd;
    --cor-alternativa: #e716a1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{   
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
}
.titulo-teste{
    font-weight: bold;
    color: var(--cor-alternativa)
}
.titulo-destaque{
    color:var(--cor-terciaria);
}
.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    
}
.apresentacao__conteudo{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    
}
.apresentacao__titulo{
        
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    gap: 82px;
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
.apresentacao__titulo__subtitulo{
    font-family: "krona One", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px dotted var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    padding: 3%;
}
.apresentacao__imagem{
    width: 50%;
}
strong{
    color: var(--cor-terciaria);
}
.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color:var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
@media(max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  
  .fotogaleria {
    width: 20rem;
    height: 20rem;
    margin: 10px;
    border: 4px solid #22d4fd;
  }
  
  .fotogaleria img {
    width: 100%;
    height: 100%;
  }